@model Peajes.Models.role.Supervisor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Supervisor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AñosDeTrabajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AñosDeTrabajo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
